if DACTYL_MANUFORM_LEFT
# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Test A"
config ZMK_SPLIT_ROLE_CENTRAL
    default y
config ZMK_SPLIT
    default y
endif

if DACTYL_MANUFORM_RIGHT
config ZMK_SPLIT
    default y
endif